  /* Create an accessible color palette using var()function */
  /* https://www.w3schools.com/css/css3_variables.asp */
  :root {
    --dark: #003049;
    --red: #D62828;
    --orange: #F77F00;
    --yellow: #FCBF49;
    --light: #EAE2B7;
  }
  
  body {
    font-family: 'Open Sans';
  }

  .skip {
    position: absolute;
    top: -40px;
  }
  
  .skip:focus {
    top: 20px;
  }
  
  form {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid #ccc;
    border-radius: 16px;
    width:70%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--dark);
    background: var(--yellow);
  }

  .radio {
    grid-column-start: 1;
    grid-column-end: 3;
    /* background: #575294; */
    color: var(--dark);
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content:start;
  }
  .radio label:first-child {
    grid-column:1/3;
  }
  .radio input {
    grid-column:2/3;
    justify-self:flex-start;
  }

  .radio label {
    grid-column:1/2;
  }

  #name {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background: var(--light);
    color: var(--dark);
  }

  #message {
    width: 100%;
    padding: 10px;
    resize: vertical;
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid var(--red);
    width: 100%;
  }

  input[type="submit"] {
    grid-column: 1/3;
    width: 100%;
    padding: 10px;
    background-color: var(--orange);
    color: var(--light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="reset"] {
    grid-column: 1/3;
  }

  .image {
    grid-column: 1/2;
  }

  input[type="file"] {
    grid-column:2/3;
  }

  input[type="submit"]:hover {
    background-color: var(--red);
  }